@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .grid section {
        text-align: center;
    }

    .grid img {
        width: 150px;
        margin: 0 auto;
        display: block;
    }
    .company-container {
    grid-template-columns: repeat(3, 1fr);
}
.join-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
    }
#cards {
    grid-template-areas:
        "one one two three"
        "four five five six"
        "seven seven eight eight";
}
}